/model2.h5
/testing.ipynb
/Untitled3.ipynb
/Untitled4.ipynb
/weights-improvement-01-1.8425.hdf5
/weights-improvement-01-1.9112.hdf5
/weights-improvement-01-2.1710.hdf5
/weights-improvement-02-1.8623.hdf5
/weights-improvement-03-1.8513.hdf5
/weights-improvement-20-1.8746.hdf5
/weights-improvement_rnn-01-3.0078.hdf5
/weights-improvement_rnn-01-3.3313.hdf5
/weights-improvement_rnn-01-3.3508.hdf5
/weights-improvement_rnn-02-3.0369.hdf5
/weights-improvement_rnn-02-3.0546.hdf5
/weights-improvement_rnn-03-2.9765.hdf5
/weights-improvement_rnn-03-2.9846.hdf5
/weights-improvement_rnn-04-2.9520.hdf5
/weights-improvement_rnn-04-2.9587.hdf5
/weights-improvement_rnn-05-2.9462.hdf5
/weights-improvement_rnn-05-2.9499.hdf5
/weights-improvement_rnn-06-2.9437.hdf5
/weights-improvement_rnn-06-2.9439.hdf5
/weights-improvement_rnn-07-2.9431.hdf5
/weights-improvement_rnn-07-2.9436.hdf5
/weights-improvement_rnn-08-2.9410.hdf5
/weights-improvement_rnn-09-2.9411.hdf5
/weights-improvement_rnn-10-2.9371.hdf5
/weights-improvement_rnn-10-2.9397.hdf5